[package]
name = "forge-runner"
version = "0.1.0"
edition.workspace = true
license.workspace = true
publish.workspace = true

[lib]
path = "src/lib.rs"

[[bin]]
name = "forge-runner"
path = "src/bin/forge-runner.rs"

[dependencies]

[lints]
workspace = true
